:root {
    --grain-color: #D7CEC7;
    --blackboard-color: #565656;
    --oxblood-color: #76323F;
    --tan-color: #C09F80;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 1px;
}

#root, #root>div {
    height: 100%;
}

footer {
    width: fit-content!important;
    opacity: 0.6;
    margin-bottom: 10px;
}


/*Alpaca Names classes*/
.AlpacaNames-nav-bar {
    position: sticky;
    top: 0;
}

/*Nav bar*/
.AlpacaNames-nav-bar-content {
    background-color: whitesmoke;
    height: 50px;
    align-items: center;
}

@media (min-width: 768px){
    .AlpacaNames-nav-bar-content .nav-bar-item:first-child {
        margin-left: 10%;
    }
}

.AlpacaNames-nav-bar-content .nav-bar-item {
    width: fit-content;
}

.nav-bar-item img{
    width: 30px;
}

.AlpacaNames-main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 50px)!important;
}

.AlpacaNames-main-container>.row {
    height: 100%;
    align-items: center;
}

.AlpacaNames-main-container>.content {
    flex: 1 0 auto;
}

.AlpacaNames-main-container>.footer {
    flex: 0 0 auto;
}

.AlpacaNames-button {
    background-color: var(--oxblood-color);
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: fit-content;
}

.AlpacaNames-link {
    color: var(--blackboard-color);
    text-decoration: none;
    margin: 5px;
}

.AlpacaNames-card {
    background-color: var(--tan-color);
    padding: 5px;
    border-radius: 5px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.AlpacaNames-card .row>* {
    width: initial;
}

.AlpacaNames-caption {
    text-align: center;
    margin: 5px;;
}
